snippet _d_music "♫ - Music"
♫
endsnippet

snippet _d_anchor "⚓ - Anchor"
⚓
endsnippet

snippet _d_cross "✗ - Cross"
✗
endsnippet

snippet _d_ok "✓ - Ok, Correct"
✓
endsnippet

snippet _d_smile "☺ - Smile face"
☺
endsnippet

snippet _d_sad "☹ - Sad face"
☹
endsnippet

# ☀
# ☂
# ☁
snippet _d_snowman "☃ - Snowman"
☃
endsnippet

snippet _d_copyright "© - Copyright"
©
endsnippet

snippet _d_registered "® - Registered"
®
endsnippet

snippet _d_cents "¢"
¢
endsnippet

snippet _d_money_yen "¥"
¥
endsnippet

snippet _d_money_pound "£"
£
endsnippet

snippet _d_arrow_right "→"
→
endsnippet

snippet _d_arrow_left "←"
←
endsnippet

snippet _d_arrow_up "↑"
↑
endsnippet

snippet _d_arrow_down "↓"
↓
endsnippet

snippet _d_arrow_left_return "↪"
↪
endsnippet

snippet _d_arrow_undo "↺"
↺
endsnippet

snippet _d_key_cmd "⌘"
⌘
endsnippet

snippet _d_key_option "⌥"
⌥
endsnippet

snippet _d_key_backspace "⌫"
⌫
endsnippet

snippet _d_thumbs_up "👍  - Thumbs up"
👍
endsnippet

snippet _d_thumbs_down "👎  - Thumbs down"
👎
endsnippet
