snippet 55 "<% %>" !
<% ${1} %>
endsnippet

snippet 5 "<%= %>" !
<%= ${1} %>
endsnippet

snippet d "<% debugger %>" !
<% debugger %>
endsnippet

snippet if "<% if condition %>" !
<% if ${1:false} %>
  ${2}
<% end %>${3}
endsnippet
