snippet h "hash"
${1:k}: ${2:v}
endsnippet

snippet r "require" !
require '${1:spec_helper}'
endsnippet

snippet al "alias_method :new, :old" !
alias_method :${2:new}, :${1:old}
endsnippet

snippet pry "binding.pry" !
binding.pry
endsnippet

snippet d "debugger" !
debugger
endsnippet

snippet task "a rake task" !
# {{{ $1
desc <<-DESC
DESC

task :$1 do
  $2
end
# }}}
endsnippet

snippet p "params[:id]"
params[:${1:id}]
endsnippet

snippet s "flash.notice"
flash.${1:notice}
endsnippet
